<div class="d01-table-filter clearfix">
    <div class="d01-table-filter-field" ng-if="tableconfig.searchField.enabled">
        <label ng-bind="tableconfig.searchField.label"></label>
        <input
            type="text"
            class="{{tableconfig.searchField.style.className}}"
            placeholder="{{tableconfig.searchField.placeholder}}"
            ng-model="tablestatus.query"
            ng-class="{
                'col-9 first': tableconfig.select.options && !tableconfig.searchField.style.override,
                'col-12': !tableconfig.select.options && !tableconfig.searchField.style.override
            }">
    </div>
    <div class="d01-table-filter-field" ng-repeat="select in tableconfig.selects track by $index" ng-if="select.options">
        <label ng-bind="select.label"></label>
        <select
            class="{{select.style.className}}"
            ng-model="tablestatus.select[$index]"
            ng-options="option.value as option.name for option in select.options"
            ng-class="{ 'col-3 last': !select.style.override }"
            >
            <option value="" disabled="disabled">{{select.placeholder}}</option>
        </select>
    </div>
</div>
<table class="{{tableconfig.className}}">
    <thead>
        <th
            ng-repeat="col in tableconfig.columns"
            ng-click="clickHeader(col)"
            ng-class="{ 'sortable': col.sortable}"
            class="{{'field_'+col.key + ' '+ col.className}}"
            >
                {{col.columnName}} <i
                    ng-if="col.sortable"
                    class="fa"
                    ng-class="{
                        'fa-angle-up': tablestatus.sorting.column==col.key,
                        'fa-flip-vertical': tablestatus.sorting.direction == '-' && tablestatus.sorting.column==col.key
                    }"></i>
            </th>
    </thead>
    <tbody>
        <tr
            ng-repeat="i in tablestatus.filteredData = (tablesource | filter:tablestatus.query | filter: selectFilter | orderBy:tablestatus.sorting.direction+tablestatus.sorting.column | filter:tableconfig.filter) | slice:getStartItem():getEnditem()"
            ng-class-odd="'odd'"
            ng-class-even="'even'"
            class="{{(rowIdentifier) ? 'row_'+i[rowIdentifier] : ''}}"
            >
                <td d01-td ng-repeat="col in tableconfig.columns" source="i" config="col"></td d01-td>
        </tr>
    </tbody>
</table>
<ul class="pagination" ng-if="tablestatus.pages > 1">
    <li ng-repeat="page in pages() track by $index">
        <a ng-class="{'active': $index == tablestatus.activePage}" ng-click="setPage($index)">{{$index + 1}}</a>
    </li>
</ul>
