<div class="clearfix">
    <input
        type="text"
        ng-if="tableconfig.searchField.enabled"
        class="{{tableconfig.searchField.style.className}}"
        placeholder="{{tableconfig.searchField.placeholder}}"
        ng-model="tablestatus.query"
        ng-class="{
            'col-9 first': tableconfig.select.options && !tableconfig.searchField.style.override,
            'col-12': !tableconfig.select.options && !tableconfig.searchField.style.override
        }">
    <select
        ng-if="tableconfig.select.options"
        class="{{tableconfig.select.style.className}}"
        ng-model="tablestatus.select"
        ng-options="option.value as option.name for option in tableconfig.select.options"
        ng-class="{ 'col-3 last': !tableconfig.select.style.override }"
        >
    </select>
</div>
<table class="{{tableconfig.className}}">
    <thead>
        <th
            ng-repeat="col in tableconfig.columns"
            ng-click="clickHeader(col)"
            ng-class="{ 'sortable': col.sortable}"
            class="{{'field_'+col.key + ' '+ col.className}}"
            >
                {{col.columnName}} <i
                    ng-if="col.sortable"
                    class="fa"
                    ng-class="{
                        'fa-angle-up': tablestatus.sorting.column==col.key,
                        'fa-flip-vertical': tablestatus.sorting.direction == '-' && tablestatus.sorting.column==col.key
                    }"></i>
            </th>
    </thead>
    <tbody>
        <tr
            ng-repeat="i in tablesource | filter:tablestatus.query | filter:tablestatus.select | orderBy:tablestatus.sorting.direction+tablestatus.sorting.column | filter:tableconfig.filter | slice:getStartItem():getEnditem()"
            ng-class-odd="'odd'"
            ng-class-even="'even'"
            class="{{(rowIdentifier) ? 'row_'+i[rowIdentifier] : ''}}"
            >
                <td d01-td ng-repeat="col in tableconfig.columns" source="i" config="col"></td d01-td>
        </tr>
    </tbody>
</table>
<ul class="pagination" ng-if="tablestatus.pages != 1">
    <li ng-repeat="page in pages() track by $index">
        <a ng-class="{'active': $index == tablestatus.activePage}" ng-click="setPage($index)">{{$index + 1}}</a>
    </li>
</ul>
